body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App-logo {
  width:2vw;
}
.App-header {
  padding:12px 15px;
}
.logo-section {
  display: flex;
  align-items: center;
}
.logo-text {
  text-decoration: none;
  color: black;
  margin-left: 24px !important;
}
.logo-text :hover {
  text-decoration: underline;
}